<section id="main">

    <section class="container" translate-namespace="EMPLOYEEPROFILE">
        <div class="col-xs-12 col-sm-12">
            <p class="lead text-center" translate> .HEADING</p>

            <div class="divTable" style="width: 100%;border: 1px solid #000;" >
				<div class="divTableBody">
					<div class="divTableRow">
						<div class="divTableCell">Firstname</div>
						<div class="divTableCell"> <input type="text" ng-model="vm.employee.firstname"> </div>
					</div>
					<div class="divTableRow">
						<div class="divTableCell">Lastname</div>
						<div class="divTableCell"> <input type="text" ng-model="vm.employee.lastname"> </div>
					</div>
					<div class="divTableRow">
						<div class="divTableCell">Email</div>
						<div class="divTableCell"> <input type="text" ng-model="vm.employee.email"> </div>
					</div>
					<div class="divTableRow">
						<div class="divTableCell">Pin</div>
						<div class="divTableCell"> <input type="text" ng-model="vm.employee.pin"> </div>
					</div>
					<div class="divTableRow">
						<div class="divTableCell">Phone</div>
						<div class="divTableCell"> <input type="text" ng-model="vm.employee.phone"> </div>
					</div>
					<div class="divTableRow">
						<div class="divTableCell">Role</div>
						<div class="divTableCell"> <input type="text" ng-model="vm.employee.role"> </div>
					</div>
					<div class="divTableRow">
						<div class="divTableCell">Dateofbirth</div>
						<div class="divTableCell"> <input type="text" ng-model="vm.employee.dateofbirth"> </div>
					</div>
					<div class="divTableRow">
						<div class="divTableCell">Position</div>
						<div class="divTableCell"> <input type="text" ng-model="vm.employee.position"> </div>
					</div>

					<input type="button" name="submitbtn" ng-click="vm.change()" value="Update">
			</div>
				<!-- DivTable.com -->
        </div>
    </section>

</section>


